@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto';
    background-color: #eaeaea;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

.container {
    padding: 1rem;
}